@import './constant';
@import './variables';

.app__navbar {
  @include flexBetween;
  height: 70px;
  padding: 0 $md-gap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: $trans;
  color: $secondary-color;

  &.active {
    background: hsl(0 0 100% / 0.5);
    backdrop-filter: blur(14px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: $primary-color;
  }

  .nav__logo {
    @include logo;
  }
  .nav__routes {
    @include routes;
  }
  .nav__buttons {
    @include flexAlign;
    gap: $lg-gap;

    button {
      @include button;
      background: $primary-color;
      color: $secondary-color;
      border: 1px solid white;
    }
  }
}
